<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>


<p>Edit Post</p>
	<%= form_with model: @post do |f| %>
	<%= f.label :Title %>
	<%= f.text_field :title, placeholder: 'title' %>
	<%= f.text_field :content, placeholder: 'content'%>
	<%= f.submit "Edit Post" %>
<% end %>

	<%= link_to "Destroy", @post, method: :delete %>