<!DOCTYPE html>
<html>
  <head>
    <title>SecondRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "User index", users_path %>
    <br

    <% if user_signed_in_?  %>
      <br>
    	<%= link_to "Post index", posts_path %>
      <br>
      <%= link_to "Post New", new_post_path %>
      <br>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_path %>
      <br>
      <%= link_to "Create User", new_user_path %>
    <% end %>
    <%= yield %>

     
  </body>
</html>
